*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }

  :root{
    color: #B4D0E7;
    color: black;
    color: white;
    color: #0061FF;
    color: #2165F6;
  }

  body{
    min-width: 1440px
  }

  /* debug */
  .debug header {
    background-color: rgb(233, 15, 15);
    height: 200px;
  }
  .debug .logo {
    background-color: rgb(12, 233, 12);
    height: 200px;
  }
  .debug .access {
    background-color: rgb(237, 25, 56);
    height: 200px;
  }
  .debug .jumbo {
    height: 500px;
    background-color: #1890f2;
  }
  .debug .title {
    height: 500px;
    background-color: rgb(14, 79, 79);
  }
  .debug .business {
    height: 800px;
    background-color: rgb(0, 123, 117);
  }
  .debug .piano {
    height: 800px;
    background-color: rgb(74, 43, 5);
  }
  .debug .partner {
    height: 400px;
    background-color: deepskyblue;
  }
  .debug .solution {
    height: 400px;
    background-color: darkturquoise;
  }
  .debug .img_1 {
    height: 400px;
    background-color: rgb(5, 0, 9);
  }
  .debug .partner_title {
    height: 400px;
    background-color: darkmagenta;
  }
  .debug .strumenti {
    height: 500px;
    background-color: darkorange;
  }
  .debug .client {
    height: 200px;
    background-color: darkred;
  }
  .debug .designit {
    height: 450px;
    background-color: grey;
  }
  .debug .azienda {
    height: 200px;
    background-color: #b4d0e7;
  }
  .debug .title_azienda {
    height: 200px;
    background-color: hotpink;
  }
  .debug .btn_try {
    height: 200px;
    background-color: indianred;
  }
  .debug .domande {
    height: 550px;
    background-color: lavender;
  }
  .debug footer {
    height: 600px;
    background-color: #000000;
  }
  .debug .dropbox {
    height: 500px;
    background-color: rgb(216, 44, 202);
  }
  .debug .language {
    height: 100px;
    background-color: rgb(105, 34, 26);
  }
  /* utility */
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  .container_large {
    width: 85%;
    margin: auto;
    padding-top: 100px;
  }
  .container_small {
    width: 60%;
    margin: auto;
    margin-top: 200px;
  }



  /* header */
  .site_header {
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: white;
    position:absolute;
    top: 0;
    left: 0;
  }

.left_menu,
.right_menu {
  display: inline-block;
}

.logo {
  vertical-align: middle;
  padding: 0 2rem;
}
.site_header ul {
  display: inline;
  vertical-align: middle;
}
.site_header li,a{
  display: inline-block;
  list-style: none;
  text-decoration: none;
    color: black;
    padding: 0 15px;
}
.site_header a {
  text-decoration: none;
  color: black;
}
.right_menu {
  /* text-align: right;
  width: 50%; */
  position: absolute;
  top: 0;
  right: 2rem;
}

.btn_primary {
  background-color: #0061ff;
  padding: 0.4rem 1rem;
  border: none;
}

.btn_primary a {
  color: white;
  text-decoration: none;
}

  /* main */
  .bg_absolute{
    background-color: #B4D0E7;
  }
  .site_main {
    margin-top: 100px;
  }
  .title > h1 {
    font-size: 4.5rem;
    padding-top: 5rem 2rem;
  }
  .container {
    margin-top: 3rem;
    position: relative;
  }

  .sub_title,
  .proposal{
    float: left;
    width: 30%;
  }

  .sub_title{
    padding-right: 1rem;
  }

  .sub_title p {
    font-weight: 300;
  }
  .btn_try {
    margin: 2rem 0 1rem;
    padding: 0.5rem 1rem;
    background: blue;
    color: white;
    text-decoration: none;
  }

  .button_light{
      background-color:white;
      border: none;
      color: white;
      font-size: 1em;
      font-weight: 600;
      padding: 7.5px 30px;
      color: black;
      text-decoration: none;
  }
  
  .fas {
    /* font-size: 3rem; */
    padding: 3rem 0;
    /* color: black; */
  }
  .proposal {
    width: 70%;
    position: absolute;
    top: 0;
    right: 0;
  }
  .img_prop {
    width: 70%;
    /* margin-left: 300px; */
    float: right;

  }

  h1,
  p{
    color: black;
  }
  .col_30 {
    float: left;
    width: 30%;
    margin-right: 20px;
  }
  
  
  .radio_mensile,
.radio_annuale {
  display: inline-block;
  position: relative;
  padding-right: 1rem;
}
/* business */
.radio_mensile li,
.radio_annuale li {
  list-style: none;
  padding-left: 1.5rem;
  color: black;
}
.fattura,
.annuale {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.fattura {
  border: 5px solid #0061ff;
}
.annuale {
  border: 1px solid #ebebec;
}
.title_h2{
  color: black;
  padding-bottom: 50px;
}

h2,h3{
  color: black;
}

.row{
  width: 100%;
  padding-top: 4rem;
}

.row::after{
  content: "";
  clear: both;
  display: table;
}

.prima_colonna,
.seconda_colonna,
.terza_colonna{
  width: 30%;
  border:  1px solid rgb(136, 136, 136);
  color: black;
  float: left;
  text-align: center;
  margin-right: 27px;
}
.prima_colonna{
  padding-bottom: 88px;
}
.seconda_colonna{
  padding-bottom: 20px;
}
.terza_colonna{
  padding-bottom: 41px;
}

.center{
  text-align: center;
}

.type, .storage, .functions, .buynow {
  padding-top: 2rem;
}

.price {
  padding-top: 1rem;
}

.month {
  padding-top: .5rem;
  font-size: .8rem;
  color: gray;
}

.users {
  padding-top: 3.5rem;
}

.buynow, .blue {
  font-size: .8rem;
}

.blue {
  text-decoration: underline;
  color: #0665ff;
}

.functions {
  padding-bottom: 3.5rem;
}

.hr {
  height: 2rem;
  width: 50px;
  margin-bottom: 3rem;
  border-bottom: 2px solid lightgray;
}

.plans ul {
  padding-bottom: 7rem;
}

.features_list li:before {
  font-family: 'FontAwesome';
  content: '\f00c';
  color: #0665ff;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
}

.features_list li {
  padding-top: 1.5rem;
  padding-left: 18px;
  list-style: none;
}

.group{
  border: 1px solid #acacac;
  text-align: center;
  padding: 0.5rem;
  color: black;
}
.group h4 {
  font-weight: normal;
}

.enterprise {
  margin: 3rem 0 5rem;
}
.vendite {
  position: relative;
}
.vendite h4 {
  padding: 1rem 0 2rem;
}
.btn_office {
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 0.5rem 5rem;
}

.pad_com {
  padding: 2rem;
  border: 1px solid #acacac;
  color: black;
}

.img100w {
  width: 100%;
}

.img_1 {
  width: 60%;
}
.partner_title {
  width: 40%;
}
.contatto {
  padding: 3rem;
}
.contatto h3,
.quotidiano h3 {
  font-size: 20px;
  font-weight: 800;
}
.contatto p {
  padding: 1rem 0;
}

.btn_light {
  background-color: white;
  padding: 0.4rem 1rem;
  border: 1px solid black;
}

.row{
  width: 100%;
}

.row::after{
  content: "";
  display: table;
  clear: both;
}


.quotidiano h3 {
  font-size: 20px;
  font-weight: 800;
}

.pad_tb {
  padding: 2rem 0 5rem;
}
.title_h2d{
  text-align: center;
  margin-bottom: 20px;
}

.domande p,
.risposta {
  display: inline-block;
}
.borders {
  border-top: 1px solid #ebebec;
}
.borders.last {
  border-bottom: 1px solid #ebebec;
}
.domande p {
  padding: 2rem 0;
  font-weight: 600;
  width: 95%;
}

.fa-chevron-down{
  color: black;
}

.col_20 {
  float: left;
  width: 20%;
}

.fa-carret-up{
  color: lightgrey;
}

footer {
  background-color: black;
  padding: 3rem;
  margin-top: 200px;
}
footer h4 {
  color: white;
  padding-bottom: 2rem;
}
footer ul {
  list-style-type: none;
  color: white;
}
footer li {
  padding-bottom: 0.5rem;
}
.languages {
  color: #737373;
}
.language {
  display: inline-block;
  border-top: 1px solid #b8b8b8;
  padding-top: 2rem;
}
.dropbox {
  padding-bottom: 5rem;
}
.team{
  margin-top: -150px;
}
.ateam{
  margin-top: 50px;
}

.team-users .column{
  margin: 0;
  height: 456px;
  height: fit-content;
  border: none;
}

.fleft{
  float: left;
}
.fright{
  float: right;
}

.svg_b{
  position: relative;
  width: 50%;
  height: 228px;
  padding: 50px;
}

.svg_b img{
  width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter:  invert(1);

}

.green_bg{
  background-color:#7ae987;
}
.arizona-bg{
  background-color:#f21e5d;
}

.azzurro-bg{
  background-color:#1890f2;
}

.red-bg{
  background-color:red;
}


.logo{
  display: inline-block;
  width: 150px;
  vertical-align: middle;
}

.logod{
  height: 60px;
  margin-top: 40px;
}

.fleft1{
  float: left;
  width: 50%;
  background-color: lightgray;
  height: 456px;
}

.wrapper{
  position:relative;
  width: 1100px;
  margin: 0 auto;
}

.space{
  margin-bottom: 60px;
}

.darkred-bg{
  background-color: darkred;
}

.liteblu-bg{
  background-color: lightblue;
}

.blue-bg{
  background-color: blue;
}

.yellow-bg{
  background-color: yellow;
}

.bluelight-bg{
  background-color: lightblue;
}

.team_user .bluelight-bg .wrapper{
  padding: 100px 80px;
}
.team_user .textx{
  width: 60%;
}
.team-users h2{
  display: block;
  width: 80%;
}

#_25{
  width: 25%;
}